.contact-form__heading {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #F1F1F1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-form__heading--title {
    font-size: 32px;
    color: #8B7969;
}


table {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

table th:first-child {
    width: 300px;
}

.contact-form__label,
.contact-form__label--required {
    font-size: 16px;
    padding-top: 6px;
    color: #8B7969;
    text-align: left;
    vertical-align: top;
}

.contact-form__label--required::after {
    font-size: 16px;
    content: "※";
    color: #ff0000;
}

.contact-form__input input,
.contact-form__input select,
.contact-form__input textarea {
    font-size: 16px;
    color: #8B7969;
    background: #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-style: none;
}

.contact-form__input--tel {
    text-align: center;
}

.contact-form__input--hyphen {
    padding-left: 15px;
    padding-right: 15px;
}

.contact-form__input--category {
    width: 50%;
}

.contact-form__input--email,
.contact-form__input--address,
.contact-form__input--building {
    width: 100%;
}

.contact-form__input--detail {
    width: 100%;
    height: 100px;
    resize: none;
}

.contact-form__error--text {
    min-height: 30px;
    display: flex;
    align-items: center;
    color: #ff0000;
}

.contact-form__input label {
    font-size: 16px;
    color: #8B7969;
    margin-right: 75px;
}

.contact-form__input--radio {
    display: none;
}

.contact-form__input--custom-radio {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #8B7969;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
}

.contact-form__input--radio:checked+.contact-form__input--custom-radio::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
    background: #8B7969;
    border-radius: 50%;
}

.contact-form__button {
    text-align: center;
}

.contact-form__button--submit {
    padding: 8px 40px 8px 40px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    background: #82756A;
    cursor: pointer;
}